In [1]:
import pandas as pd

In [2]:
drought = pd.read_pickle("/Users/meghajain/Desktop/Metis/Projects/Final/final_datasets/drought.pkl")

In [3]:
drought.head()

,Headline,Date,Source,Body,Event Type,Topics,Agriculture,Landscape,Fires,Climate,Water use
0,COMIC DOESN'T ROCK THE BOAT AT STREAMLINED AWA...,2005-02-28,Arizona Republic,Chill out. Those who were worried that Chris R...,Drought,3,0.000000,0.024935,0.006280,0.021430,0.007700
1,"Will Arizonans have to turn off the tap, too?",2015-08-08,Arizona Republic,We've all seen the water situation in Californ...,Drought,0,0.008337,0.040519,0.000000,0.000000,0.073896
2,"GOLF FACES 2-PRONGED ATTACK TOURISM DROP, SALI...",2002-05-22,Arizona Republic,Arizona's tourism drought has filtered down to...,Drought,0,0.009765,0.010549,0.000000,0.008265,0.031859
3,"DROUGHT DIMINISHES RIVER RANCHERS, CITIES NEAR...",2004-07-25,Arizona Republic,Part 1 High in the Rockies at the Colorado's s...,Drought,0,0.004845,0.002367,0.016202,0.000000,0.090524
4,CANDY CORN PLANT PROVES ELUSIVE HERE,2004-07-10,Arizona Republic,QUESTION: The candy corn plant is available in...,Drought,3,0.018377,0.110856,0.000000,0.000000,0.000000

In [4]:
drought_bydate = drought.copy(deep=True)
drought_bydate.set_index(drought_bydate['Date'], inplace=True, drop=True)

## All sources
#### Topic strength by year

In [5]:
drought_grouped_date = drought_bydate.groupby(by=[pd.TimeGrouper(freq='A')])

In [6]:
trends_bydate = pd.DataFrame({'Agriculture': drought_grouped_date['Agriculture'].sum()/drought_grouped_date.size(), 'Landscape': drought_grouped_date['Landscape'].sum()/drought_grouped_date.size(), 'Fires': drought_grouped_date['Fires'].sum()/drought_grouped_date.size(), 'Climate': drought_grouped_date['Climate'].sum()/drought_grouped_date.size(), 'Water use': drought_grouped_date['Water use'].sum()/drought_grouped_date.size()}).reset_index()

In [7]:
trends_bydate.set_index("Date", inplace=True)

In [8]:
trends_bydate.columns.name = "Topic"

In [9]:
trends_bydate.head()

Topic       Agriculture   Climate     Fires  Landscape  Water use
Date
1990-12-31     0.011552  0.014681  0.018547   0.017982   0.029362
1991-12-31     0.009891  0.012012  0.017235   0.016460   0.036115
1992-12-31     0.010754  0.025484  0.020484   0.018642   0.023412
1993-12-31     0.014882  0.018169  0.021210   0.023692   0.023651
1994-12-31     0.010534  0.020160  0.017013   0.024745   0.022869

In [10]:
droughts_stacked = trends_bydate.stack()

In [11]:
droughts_stacked.head()

Date        Topic
1990-12-31  Agriculture    0.011552
            Climate        0.014681
            Fires          0.018547
            Landscape      0.017982
            Water use      0.029362
dtype: float64

In [12]:
droughts_dataviz = droughts_stacked.reset_index()

In [13]:
droughts_dataviz.rename(columns={0: "Topic_strength"},inplace=True)

In [14]:
droughts_dataviz.head()

        Date        Topic  Topic_strength
0 1990-12-31  Agriculture        0.011552
1 1990-12-31      Climate        0.014681
2 1990-12-31        Fires        0.018547
3 1990-12-31    Landscape        0.017982
4 1990-12-31    Water use        0.029362

## By source

In [16]:
drought_grouped_source = drought_bydate.groupby(by=["Source", pd.TimeGrouper(freq='A')])

In [17]:
drought_grouped_source.size().head()

Source            Date
Arizona Republic  1999-12-31     53
                  2000-12-31     58
                  2001-12-31     33
                  2002-12-31    171
                  2003-12-31    167
dtype: int64

In [18]:
trends_bysource = pd.DataFrame({'Agriculture': drought_grouped_source['Agriculture'].sum()/drought_grouped_source.size(), 'Landscape': drought_grouped_source['Landscape'].sum()/drought_grouped_source.size(), 'Fires': drought_grouped_source['Fires'].sum()/drought_grouped_source.size(), 'Climate': drought_grouped_source['Climate'].sum()/drought_grouped_source.size(), 'Water use': drought_grouped_source['Water use'].sum()/drought_grouped_source.size()}).reset_index()

In [19]:
trends_bysource.set_index(["Date", "Source"], inplace=True)

In [20]:
trends_bysource.columns.name = "Topic"

In [21]:
trends_bysource.head()

,Topic,Agriculture,Climate,Fires,Landscape,Water use
Date,Source,,,,,
1999-12-31,Arizona Republic,0.006299,0.009512,0.010558,0.049856,0.019979
2000-12-31,Arizona Republic,0.003283,0.013007,0.020121,0.039166,0.015593
2001-12-31,Arizona Republic,0.005070,0.015078,0.010766,0.037561,0.016539
2002-12-31,Arizona Republic,0.004365,0.011888,0.017168,0.019907,0.025255
2003-12-31,Arizona Republic,0.004218,0.011076,0.015445,0.021096,0.026420

In [22]:
droughts_bysource_stacked = trends_bysource.stack()

In [23]:
droughts_bysource_dataviz = droughts_bysource_stacked.reset_index()

In [24]:
droughts_bysource_dataviz.head()

        Date            Source        Topic         0
0 1999-12-31  Arizona Republic  Agriculture  0.006299
1 1999-12-31  Arizona Republic      Climate  0.009512
2 1999-12-31  Arizona Republic        Fires  0.010558
3 1999-12-31  Arizona Republic    Landscape  0.049856
4 1999-12-31  Arizona Republic    Water use  0.019979

In [25]:
droughts_bysource_dataviz.rename(columns={0: "Topic_strength"},inplace=True)

## Combine 'all' dataset with 'by source'

In [26]:
droughts_dataviz["Source"] = "All"

In [27]:
droughts_final = pd.concat(objs=[droughts_dataviz, droughts_bysource_dataviz], ignore_index=True)

In [28]:
len(droughts_dataviz), len(droughts_bysource_dataviz)

(130, 1285)

In [29]:
len(droughts_final)

1415

In [30]:
droughts_final.to_csv("/Users/meghajain/Desktop/droughts_final.csv")

## Regional topic strengths
Group newspapers by region to find regional topic strengths

In [31]:
data = pd.read_csv("/Users/meghajain/Desktop/Metis/Projects/Final/d3/static/droughts_final.csv", index_col=0, encoding="latin-1")

In [32]:
data.loc[(data['Source'] == "Austin American-Statesman") | (data['Source'] == "The Atlanta Journal-Constitution") | (data['Source'] == "The Tampa Bay Times") | (data['Source'] == "The Tampa Tribune"), 'Region'] = "South/Southeast"

In [33]:
data.loc[(data['Source'] == "Chicago Tribune") | (data['Source'] == "The Des Moines Register"), 'Region'] = "Midwest"

In [34]:
data.loc[(data['Source'] == "The Arizona Republic") | (data['Source'] == "The Los Angeles Times"), 'Region'] = "West"

In [35]:
data.loc[(data['Source'] == "The Boston Globe") | (data['Source'] == "The New York Times"), 'Region'] = "East"

In [36]:
data.loc[(data['Source'] == "Foxnews.com") | (data['Source'] == "USA Today"), 'Region'] = "National"

In [37]:
data['Date'] = pd.to_datetime(data['Date'])

In [38]:
data.set_index('Date', inplace=True)

In [39]:
grouped = data.groupby(by=[pd.TimeGrouper(freq ='A'), 'Region'])

In [40]:
byregion = pd.DataFrame({"Agri":grouped['Agriculture'].mean(), "Climate": grouped['Climate'].mean(), "Fires": grouped['Fires'].mean(), "Landscape": grouped['Landscape'].mean(), "Water Use":grouped['Water_use'].mean()}).reset_index()

In [41]:
byregion.to_csv("/Users/meghajain/Desktop/regions.csv")

## Find a source's top headlines for its strongest topic for a given year

In [43]:
sources = ['All Newspapers', 'Austin American-Statesman', 'Chicago Tribune', 'Foxnews.com', 'The Arizona Republic', 'The Atlanta Journal-Constitution', 'The Boston Globe', 'The Des Moines Register', 'The Los Angeles Times', 'The New York Times', 'The Tampa Bay Times', 'The Tampa Tribune', 'USA Today']

In [72]:
data = pd.read_csv("/Users/meghajain/Desktop/Metis/Projects/Final/d3/static/drought_final2.csv", index_col=0, encoding="latin-1")

In [73]:
data["Date"] = pd.to_datetime(data["Date"])

In [74]:
data["Date"] = data["Date"].apply(lambda x: x.year)

In [68]:
drought.rename(columns={"Landscape": "Landscaping", "Fires": "Fires and Storms", "Climate": "Climate Change", "Water use": "Water Use"}, inplace=True)

In [69]:
drought.columns

Index(['Headline', 'Date', 'Source', 'Body', 'Event Type', 'Topics',
       'Agriculture', 'Landscaping', 'Fires and Storms', 'Climate Change',
       'Water Use'],
      dtype='object')

#### Create dataframes with headlines for each source

In [76]:
for source in sources:
    
    ## creates a dictionary for the source with each year + strongest topic
    data_bysource = data[data["Source"] == source]
    data_reduced = data_bysource[["Date", "Major_topic"]]
    topic_dict = data_reduced.set_index("Date")["Major_topic"].to_dict()
    
    first_year = list(topic_dict)[0]
    first_topic = topic_dict[first_year]
    
    ## creates initial dataframe with earliest year + top 5 headlines from the strongest topic
    headlines_df = pd.DataFrame(drought[(drought['Date'] > '01-01-'+str(first_year)) & (drought['Date'] < '12-31-'+str(first_year)) & (drought['Source'] == source)].sort_values(first_topic, ascending=False)["Headline"].head(5))
    headlines_df = headlines_df.T
    
    ## iterates through dictionary to append remaining years' headlines
    for k,v in topic_dict.items():
        df = pd.DataFrame(drought[(drought['Date'] > '01-01-'+ str(k)) & (drought['Date'] < '12-31-'+str(k)) & (drought['Source'] == "USA Today")].sort_values(v, ascending=False)["Headline"].head(5))
        df = df.T
        df.rename({"Headline": k}, inplace=True)
        try:
            df.rename(columns = {df.columns[0]: "Headline1", df.columns[1]:"Headline2", df.columns[2]:"Headline3", df.columns[3]:"Headline4", df.columns[4]:"Headline5"}, inplace=True)
        except:
            pass
        headlines_df = pd.concat(objs = [df, headlines_df])
    
    headlines_df.drop(labels = ["Headline"], inplace=True)
    headlines_df.fillna("Not Available", inplace=True)
    headlines_df["Headline1"] = headlines_df["Headline1"].apply(lambda x: x.title())
    headlines_df["Headline2"] = headlines_df["Headline2"].apply(lambda x: x.title())
    headlines_df["Headline3"] = headlines_df["Headline3"].apply(lambda x: x.title())
    headlines_df["Headline4"] = headlines_df["Headline4"].apply(lambda x: x.title())
    headlines_df["Headline5"] = headlines_df["Headline5"].apply(lambda x: x.title())
    headlines_df.reset_index(inplace=True)
    headlines_df.sort_values('index', inplace=True)
    
    headlines_df.to_csv("/Users/meghajain/Desktop/headlines_" + str(source) + ".csv")

/Users/meghajain/anaconda/lib/python3.5/site-packages/pandas/indexes/api.py:71: RuntimeWarning: unorderable types: str() < int(), sort order is undefined for incomparable objects
  result = result.union(other)